run = "bash run.sh"
entrypoint = "run.sh"

[nix]
channel = "stable-23_11"

[deployment]
run = ["bash", "run.sh"]

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 5173
externalPort = 80
